html {
	background: white;
}

*::-webkit-scrollbar {
	display: none;
    width: 0 !important;
}

::selection {
  color: white;
  background: black;
}

@font-face {
  font-family: "Arial Black";
  font-style: normal;
  src: url("../assets/arialmtblack.ttf")
}

@font-face {
  font-family: "Arial Narrow";
  font-style: normal;
  src: url("../assets/arialmtnarrow.ttf")
}

body {
	margin: 0px;
}

a, a:visited {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

a:hover {
	text-decoration: none;
	color: #04CB08;
}

#entry-box {
	text-align: center;
	font-size: 1.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.45em;
	padding-right: 0.45em;
	z-index: 98;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	margin:0 auto;
	color: black;
	background: white;
	border: 0.75px solid black;
}

#entry-box:active, #entry-box:hover {
	color: white;
	background: #04CB08;
}

#wrapper {
	width: 100%;
}

.slips {
	display: block;
}

.hide {
	display: none;
}

#header {
  width: 100vw;
  z-index: 100;
  top: 0px;
  height: 25px;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Times New Roman";
}

.tab {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

#sections {
  position: fixed;
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(2, 48vh);
  margin-top: 25px;
}

.section {
  vertical-align: top;
  position: relative;
  overflow: scroll;
}

.top {
  border-top: 1px solid black;
}

#log, #citation {
  grid-column: 2;
}

#intro {
  padding: 20px;
  font-family: "Times New Roman";
  font-size: 0.9em;
}

#contents {
	height: 93%;
  padding: 20px;
  border: 1px solid black;
}

#citation {
  border-bottom: 1px solid black;
}

#citing-box {
	width: 100%;
	height: 99%;
	border: 0px solid black;
}

#log {
	padding: 20px;
	border: 0;
	width: 95%;
}


#intro, #contents {
  border-right: 1px solid black;
  grid-column: 1;
}

.number {
  font-size: 0.7rem;
  text-align: center;
  font-family: "Arial Black";
  background: black;
  color: white;
  margin-right: 0.35rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.a-black {
	font-size: 0.8rem;
	font-family: "Arial Black";
	line-height: 0.95rem;
}


table {
  border-collapse: collapse;
  width: 100%;
  color: black;
  background-color: white;
  padding-bottom: 20px;
  text-align: center;
}

#contents table, th, td {
  border: 1px dashed black;
}

#contents table {
  bottom: 20;
}

#contents thead {
  background-color: white;
  color: black;
}

th {
  font-weight: normal;
  text-align: left;
  padding: 20px;
}

td {
  padding: 10px;
  min-width:  2rem;
  max-width: 4rem;
}

/*#row2:hover, #row3:hover, #row4:hover, #row5:hover, #row6:hover {
	background: #F5F5F5;
}*/

img, video {
	width: 100%;
}


/*SLIPS*/

#detail-slip{
	position: absolute;
	/*width: 18.5%;*/
	width: 20em;
	filter: saturate(1.5);
}

#glitch-slip {
	position: absolute;
	/*width: 29%;*/
	width: 27em;
	filter: saturate(2.5);
}

#query-slip {
	position: absolute;
	/*width: 19%;*/
	width: 20em;
	filter: saturate(1.5);
}

#void-slip {
	position: absolute;
	/*width: 20%;*/
	width: 20em;
	filter: saturate(1.5);
}

.slip {
	z-index: 99;
	cursor: grab;
}

.slip:active {
	cursor: grabbing;
}

@media all and (max-width: 850px) {

  #sections {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    position: relative;
  }

  .slip {
    display: none;
  }

  .section {
    display: inline-block;
  }

  #intro {
    grid-row: 1;
    border-top: 1px solid white;
    border-right: 0px;
  }

  #contents {
    grid-row: 2;
  }

  #log {
  	grid-row: 4;
    border-right: 0px;
  }

  #citation {
    grid-row: 3;
  }

  #notes, #citation {
    grid-column: 1;
  }
}