#frame-bottom0 {
  top: 12.45rem;
  /*left: 20.25rem;*/
}

#frame-bottom1 {
  top: 14.325rem;
  /*left: 20.25rem;*/
}

#frame-bottom2 {
  top: 16.1rem;
}

#frame-bottom3 {
  top: 17.7rem;
}

#frame-bottom4 {
  top: 19.525rem;
}

#frame-bottom5 {
  top: 21.25rem;
}