#frame-left0 {
  top: 0.65rem;
  left: -0.25rem;
}

#frame-left1 {
  top: 0.75rem;
  left: -0.3rem;
}

#frame-left2 {
  left: -0.25rem;
  top: 0.45rem;
}

#frame-left3 {
  left: -0.25rem;
  top: 0.8rem;
}

#frame-left4 {
  left: -0.25rem;
  top: 0.6rem;
}

#frame-left5 {
  left: -0.25rem;
  top: 0.6rem;
}

