#frame-right0 {
  left: 27.425rem;
  top: -0.175rem;
}

#frame-right1 {
  left: 29.25rem;
  top: -0.1rem;
}


#frame-right2 {
  left: 30.95rem;
  top: 0.75rem;
}

#frame-right3 {
  left: 32.75rem;
  top: 0.7rem;
}

#frame-right4 {
  left: 34.45rem;
  top: 0.85rem;
}

#frame-right5 {
  left: 36.125rem;
  top: 0.35rem;
}


