#frame-top0 {
	top: -0.3rem;
}

#frame-top1 {
	top: -0.325rem;
}

#frame-top2 {
	top: -0.4565rem;
}

#frame-top3 {
	top: -0.325rem;
}

#frame-top4 {
	top: -0.25rem;
}

#frame-top5 {
	top: -0.25rem;
}

