@font-face {
  font-family: "selectricmono-webfont";
  src: url("selectricmono.otf");
}

*::-webkit-scrollbar {
	display: none;
	width: 0 !important;
}

a:visited, a, a:hover, a:active {
	color: black;
	text-decoration: none;
}

html  {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
	padding: 1rem;
	padding-top: 1.5rem;
}

/*#clock, #date {
	display: none;
}*/

.container {
	filter: blur(0.1px);
	letter-spacing: 0.015rem;
  font-size: 0.75rem;
	font-family: "selectricmono-webfont";
  -webkit-text-stroke: 0.325px;
  -moz-text-stroke: 0.325px;
  text-stroke: 0.325px;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 42.5rem;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.matter-container {
	position: fixed;
	width: auto;
	display: flex;
	gap: 0.75rem;
	justify-content: flex-start;
}


#text-container {
	margin-top: 2rem;
	text-align: justify;
	width: auto;
	cursor: none;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	cursor: pointer;
}

.nav:hover {
	background: black;
}

.nav4 {
	background: black;
}

span {
	transition: 0.125s;
}

span:hover {
	background: black;
}

.subtract {
	visibility: hidden;
}
