@font-face {
  font-family: "Arial Black";
  font-style: normal;
  src: url("assets/arialmtblack.ttf")
}

a, a:active, a:visited {
	text-decoration: none;
	color: gray;
	-webkit-text-stroke: 0.025rem gray;
	-moz-text-stroke: 0.025rem gray;
	text-stroke: 0.025rem gray;
	transition: 0.2s;
}

a:hover {
	opacity: 0.375;
}

button {
	background-color: white;
	border: 1.25px solid black;
  color: black;
	padding: 0.35em 0.65em 0.45em 0.65em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Arial Black";
  text-transform: uppercase;
  font-size: 0.85rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
	opacity: 0.375;
}

* {
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

body, html {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	overflow: hidden;
	width:6000vw;
	display: flex;
	flex-direction: row;
	background: black;
}

.info {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	margin: 20px 20px;
	z-index: 100;
	text-align: center;
	font-size: 1.5rem;
	padding: 0.1em 0.25em 0.07em 0.25em;
	background: black;
	color: white;
	border: 1px solid white;
	transition: 0.2s;
}

.info:active, .info:hover {
	opacity: 0.375;
}

#load {
	opacity: 0;
	background: black;
	width: 100vw;
	height: 100vh;
	position: fixed;
	color: white;
}

#load.show {
  animation: anime 5s 1;
}
@keyframes anime {
  0% {
    opacity: 1;
    z-index: 999;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}

.overlay {
	opacity: 0;
	transition: 10s;
}

.info-show {
	opacity: 1;
	background: white;
	color: black;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 99;
}

.slide {
	background: black;
	color: white;
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.nav {
	height: 100vh;
	cursor: pointer;
	z-index: 98;
	width: 300px;
}

.prev {
	/*background: red;*/
	cursor: url("assets/prev.svg"), auto;
}

.next {
	/*background: blue;*/
	cursor: url("assets/next.svg"), auto;
}

.content {
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.media-box img {
	max-width:90vw;
	max-height: 65vh;
}

.media-box video {
	max-width: 90vw;
	max-height: 65vh;
}

.iframe-container {
	position: relative;
	background: white;
	width: 100%;
	overflow: hidden;
	resize: both;
	padding-top: 60%;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.text-box {
	font-family: 'Times New Roman';
}


/*TEXT STYLES*/

.caption {
	font-size: 1.25rem;
	padding: 1.875rem 9rem 0 9rem;
	letter-spacing: 0.035rem;
	line-height: 1.563rem;
	-webkit-text-stroke: 0.025rem white;
	-moz-text-stroke: 0.025rem white;
	text-stroke: 0.025rem white;
}

.main {
	width: 60vw;
	font-size: 1.875rem;
	padding: 0 3rem 0 3rem;
	letter-spacing: 0.069rem;
	line-height: 2.2rem;
	-webkit-text-stroke: 0.025rem white;
	-moz-text-stroke: 0.025rem white;
	text-stroke: 0.025rem white;
}

.white {
	width: 40vw;
	font-size: 1.25rem;
	letter-spacing: 0.015rem;
	line-height: 1.5rem;
	-webkit-text-stroke: 0.025rem black;
	-moz-text-stroke: 0.025rem black;
	text-stroke: 0.025rem black;
}

.ital {
	font-style: italic;
}


@media only screen and (max-width: 1150px) {

html {
	overflow-x: hidden;
}

body {
	height: 6000vh;
	width: 100%;
	overflow: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	background: black;
	scroll-snap-type: y mandatory;
	scroll-snap-points-y: repeat(100vh)
}

.caption {
	padding: 1.875rem 0rem 0rem 0rem;
	font-size: 1.15rem;
	letter-spacing: 0.035rem;
	line-height: 1.5rem;
}

.main {
	width: 70vw;
	font-size: 1.5rem;
	letter-spacing: 0.045rem;
	line-height: 1.95rem;
}

.white {
	width: 80vw;
	font-size: 1.15rem;
	letter-spacing: 0.035rem;
	line-height: 1.5rem;
}

.info {
	position: fixed;
	z-index: 101;
}

.nav {
	cursor: pointer;
	z-index: 99;
	height: 300px;
	width: 100vw;
}

.slide {
	scroll-snap-align: center;
	scroll-snap-stop: always;
	position: relative;
	background: black;
	color: white;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.prev {
	cursor: url("assets/top.svg"), auto;
}

.next {
	cursor: url("assets/down.svg"), auto;
}

}


