html {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

@font-face {
    font-family: 'Neue Haas Unica Pro', sans-serif;
    src: url('assets/NeueHaasUnicaPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

a, a:visited, a:active {
	color: #FFE500;
	text-decoration: none;
	transition: 0.10s;
	cursor: default;
}

a:hover {
	filter: blur(1.15px);
/*	color: black;
*/	cursor: default;
}

body {
	background: black;
	padding: 1em;
	font-size: 1.5em;
}

figcaption {
	position: relative;
	color: #FFE500;
	font-size: 1.25vw;
	font-family: Neue Haas Unica Pro, sans-serif;
	letter-spacing: 0.1em;
	filter: blur(0.75px);
}

figure {
	margin: 0.5em;
}

#img-wrapper {
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
}


img {
	width: auto;
	height: 10.25vw;
}